html {
    font-family: "Helvetica";
}

body {
	background-image: url("../assets/img/header.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

@media screen and (max-width: 650px) {
	#main-nav .nav-item {
		display: none;
	}
	#main-nav #burger-button {
		float: right;
		display: block;
	}
}

.nav-wrapper {
	max-width: 1300px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#header-logo h3 {
	color: #ffffff;
	font-weight: bold;
	padding-top: 50px;
}

#header-logo:hover {
	text-decoration: none;
}

#main-nav {
	padding-top: 30px;
}

#main-nav a {
	color: #dddddd;
	text-transform: none;
	padding-left: 40px;
	padding-right: 0px;
}

#main-nav a:hover {
	color: #ffffff;
}

#main-nav .uk-active a {
	font-weight: bold;
	color: #ffffff;
}

#burger-button {
	padding-top: 26px;
	color: #dddddd;
	display: none;
}

#burger-button:hover {
	color: #ffffff;
}

.wrapper {
	max-width: 1100px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#homepage-logo {
	color: #ffffff;
	font-weight: bold;
	font-size: 60px;
	padding-top: 100px;
}

#specific-desc {
	color: #ffffff;
	font-size: 17px;
	margin-top: -25px;
	padding-left: 3px;
	margin-bottom: 0px;
}

#specific-searchbar {
	margin-left: 3px;
	margin-top: 7px;
	margin-bottom: 160px;
}

#specific-search-button {
	text-transform: none;
	font-size: 16px;
	margin-top: -154px;
}

.autocomplete {
	position: relative;
}

.dialog {
	position: absolute;
	background-color: #ffffff;
	display: none;
	margin-left: 3px;
	margin-top: -160px;
	min-height: 40px;
	max-height: 168px;
	overflow: scroll;
	border: 1px solid #f4f4f4;
}

.dialog.open {
	display: block;
}

.dialog div {
	padding: 10px 10px;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.2s;
}

.dialog div:hover {
	background-color: #f2f2f2;
}

.medium-wrapper {
	max-width: 800px;
	margin: auto;
	padding-left: 0px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.small-wrapper {
	max-width: 500px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.xsmall-wrapper {
	max-width: 100px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

#cant-decide {
	background-color: #ffffff;
	padding-bottom: 70px;
}

#tag-search-icon {
	margin-top: -100px;
}

#cant-decide h3 {
	font-weight: bold;
	font-size: 30px;
	padding-top: 60px;
	text-align: center;
}

#cant-decide h4 {
	font-weight: bold;
	text-align: center;
}

#spinner input{
	&::-webkit-inner-spin-button{
	opacity:1;
	}
}

.uk-checkbox {
	display: none;
}

.tag-checkbox:checked + .tag-label {
	color: #BF335C;
}

.tag-card {
	max-width: 250px;
	padding-bottom: 0px;
}

.tag-title {
	color: #383838;
	font-weight: bold;
}

.tag-name {
	font-size: 17px;
}

#search-button-wrap {
	margin: auto;
}

.search-button {
	text-transform: none;
	font-size: 16px;
}

#tag-search-button {
	text-transform: none;
	font-size: 16px;
	margin-top: -100px;
	margin-left: -10px;
	margin-bottom: 50px;
}

#footer {
	color: #8E8E8E;
	margin-top: -20px;
	font-size: 12px;
	text-align:center;
}

#footer-items {
	margin-left: -60px;
}

#footer ul {
	float: left;
	list-style-type: none;
}

#footer h3 {
	font-size: 18px;
	font-weight: bold;
}

#footer h5 {
	font-weight: bold;
	font-size: 15px;
}

#footer a {
	color: #00B2FF;
}

#footer a:hover {
	color: #008ECC;
}

/** FOOD CARDS */

#food-cards {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 40px;
	color: #262626;
}

.card {
	max-width: 300px;
}

.wrapper .uk-card {
	margin: auto;
}

.uk-card-title {
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
}

.price-card {
	color: #393939;
	margin-top: 0px;
	margin-bottom: 0px;
}

.desc-card {
	color: #393939;
	margin-top: 0px;
	margin-bottom: 30px;
}

.tags-card {
	position: absolute;
	font-size: 13px;
	color: #9E9E9E;
	padding-left: 20px;
	padding-bottom: 20px;
	left: 0;
	bottom: 0;
}

.uk-pagination {
	padding-top: 20px;
	margin-bottom: 0px;
}

/** Tag Buttons 

*/














